/* General */
.topnav, .footer, .home, .help, .contact, .charity,
.whoarewe, .boroughs, .boroughItem{
  padding: 10px 100px 75px 80px;
}

.yellow{
  background-color: var(--yellow);
}

.white{
  background-color: var(--white);

}

.green{
  background-color: var(--green);
}

.center{
  text-align: center;
}


/* Navbar */
.logo-img{
  width: 75px;
  height: 75px;
}

.logo{
  font-size: 25px;
  font-weight: 600;
  padding-left: 0px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center
}

.image {
  flex-basis: 40%
}

/* Home */
.dwn-img1{
  height: 50px;
}
.dwn-img2{
  height: 73px;
}

/* Boroughs */
.borough-card{
  background-color: var(--green);
  border-width: 0;
}

.card-subtitle{
  padding-top: 15px;

}

/* Charities */
.char-img{
  text-align: center;
  width: 250px;
}

/* Who are we? */
.us-img{
  width: 70%;
}
