/* General */
.topnav, .footer, .home, .help, .contact, .charity,
.whoarewe, .boroughs, .boroughItem{
  padding: 10px 100px 50px 80px;
}

.yellow{
  background-color: var(--yellow);
}

.white{
  background-color: white;
}

.green{
  background-color: var(--green);
}

.center{
  text-align: center;
}


/* Navbar */
.logo-img{
  width: 82px;
  height: 75px;
  margin-right: 20px
}

.logo{
  font-size: 25px;
  font-weight: 600;
  padding-left: 0px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center
}

.image {
  flex-basis: 40%
}

/* Home */
.dwn-img1{
  height: 50px;
}
.dwn-img2{
  height: 73px;
}

/* Boroughs */
.borough-card{
  background-color: var(--green);
  border-width: 0;
}

.card-title{
  font-size: 20px;
  font-weight: bold;
}
.card-subtitle{
  padding-top: 15px;
  font-size: 18px;
}

.items p{
  padding-top: 0;
  padding-bottom: 0;
}

.space{
  padding-top: 50px;
}

/* Charities */
.char-img{
  text-align: center;
  width: 250px;
}

/* Who are we? */
.us-img{
  width: 70%;
}
